@keyframes waveY {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(0, -2rem, 0); }
  75% {
    transform: translate3d(0, 2rem, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes waveX {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0); }
  25% {
    transform: translate3d(0, 0, 0); }
  50% {
    transform: translate3d(-2rem, 0, 0); }
  75% {
    transform: translate3d(2rem, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  75% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    box-shadow: none; }
  50% {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } }

@keyframes fade {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 1.5rem; }

::selection {
  background-color: #00843d;
  color: #ffffff; }

body::-webkit-scrollbar {
  width: 1.5rem; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: #00843d;
  outline: 1px solid #000000;
  border-radius: 5px;
  transition: all .5s; }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #ffc72c; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2f3e; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary:last-child {
    margin-bottom: 2.5rem;
    animation: fadeIn 1s ease-out 1s;
    animation-fill-mode: forwards; }
  .heading-primary--main {
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-left: 1rem; }
  .heading-primary--sub {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem; }

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #b5ff7d, #00ad7c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .5s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.text-main {
  display: inline-block;
  background-image: linear-gradient(to right bottom, #9bdf46, #25a55f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: waveY 1.5s ease-out 1.5s;
  animation-fill-mode: backwards; }
  .text-main--t {
    animation-delay: 125ms; }
  .text-main--u {
    animation-delay: 250ms; }
  .text-main--r {
    animation-delay: 375ms; }
  .text-main--k {
    animation-delay: 500ms; }
  .text-main--m {
    animation-delay: 625ms; }
  .text-main--e {
    animation-delay: 750ms; }
  .text-main--n {
    animation-delay: 875ms; }
  .text-main--i {
    animation-delay: 1000ms; }
  .text-main--s {
    animation-delay: 1125ms; }
  .text-main--t2 {
    animation-delay: 1250ms; }
  .text-main--a {
    animation-delay: 1375ms; }
  .text-main--n2 {
    animation-delay: 1500ms; }

.text-sub {
  display: inline-block;
  background-image: linear-gradient(to right bottom, #ffc60b, #ff8b00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: waveX 1.5s ease-out 1.5s;
  animation-fill-mode: backwards; }
  .text-sub--i {
    animation-delay: 1000ms; }
  .text-sub--n {
    animation-delay: 1005ms; }
  .text-sub--t {
    animation-delay: 1010ms; }
  .text-sub--r {
    animation-delay: 1015ms; }
  .text-sub--o {
    animation-delay: 1020ms; }
  .text-sub--d {
    animation-delay: 1025ms; }
  .text-sub--u {
    animation-delay: 1030ms; }
  .text-sub--c {
    animation-delay: 1035ms; }
  .text-sub--t2 {
    animation-delay: 1040ms; }
  .text-sub--i {
    animation-delay: 1045ms; }
  .text-sub--o {
    animation-delay: 1050ms; }
  .text-sub--n {
    animation-delay: 1055ms; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-left {
  margin-left: 5rem !important; }

.u-row-wider {
  max-width: 150rem !important; }

.u-box-decoration {
  width: calc(100% - 25rem) !important;
  margin: 0 auto !important;
  border-radius: 5px !important;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1) !important;
  background-color: rgba(255, 255, 255, 0.5) !important; }

.u-no-gutter {
  margin-bottom: 0 !important; }

.bg-img {
  position: relative;
  height: 97vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Darvaza-2.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 10rem; }
  .bg-img__heading {
    font-size: 8rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    width: 75%;
    background-clip: text;
    -webkit-background-clip: text; }
    .bg-img__heading:hover {
      color: transparent;
      background-image: linear-gradient(0deg, #ffffff, #e28822 25%, #e25822 50%, #e22822);
      transform: translate(-50%, -50%) translateY(-3px);
      text-shadow: 0.5rem 1rem 2rem rgba(226, 88, 34, 0.2);
      transition: all 1.5s; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .75;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0 0 25% 25%;
  transition: all .2s;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBottom 1s ease-out 1.5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #00843d;
  display: inline-block;
  padding: .5rem 1.5rem;
  border-bottom: 1px solid #00843d;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s; }

.btn-text:hover {
  color: #ffffff;
  background-color: #00843d;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.btn-text__icon {
  margin-left: .5rem; }

.circled-number {
  float: left;
  margin-top: 1rem;
  margin-right: 2.5rem;
  width: 2.5em;
  line-height: 2.5em;
  border-radius: 1.25em;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  transition: all .3s; }
  .circled-number:after {
    content: "";
    display: table;
    clear: both; }
  .circled-number:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .circled-number--1 {
    background-color: #00843d; }
    .circled-number--1:hover {
      background-image: linear-gradient(to right bottom, #b5ff7d, #00ad7c); }
  .circled-number--2 {
    background-color: #ffc72c; }
    .circled-number--2:hover {
      background-image: linear-gradient(to right bottom, #ffc60b, #ff8b00); }
  .circled-number--3 {
    background-color: #d22630; }
    .circled-number--3:hover {
      background-image: linear-gradient(to right bottom, #fd2e2e, #900d0d); }
  .circled-number--4 {
    background-color: #e25822; }
    .circled-number--4:hover {
      background-image: linear-gradient(to right bottom, #e28822, #e22822); }

.composition {
  position: relative;
  height: 50rem; }
  .composition__photo {
    width: 50%;
    height: 38rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    outline-offset: 1rem;
    transition: all .3s; }
    .composition__photo--1 {
      left: 5%;
      top: 3rem;
      filter: blur(1.5px); }
      .composition__photo--1:hover {
        filter: blur(0); }
    .composition__photo--2 {
      left: 25%;
      top: -3rem; }
    .composition__photo--3 {
      right: 5%;
      top: 6rem;
      filter: blur(1.5px); }
      .composition__photo--3:hover {
        filter: blur(0); }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.5);
      outline: 0.2rem solid rgba(255, 199, 44, 0.7);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    filter: blur(1.5px); }
  .composition::after:after {
    content: "";
    display: table;
    clear: both; }

.description-box {
  overflow: hidden;
  text-align: center;
  padding: 2rem;
  border: solid 3px;
  border-color: transparent;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transition: all .5s; }
  .description-box:hover {
    transform: translateX(10px) translateY(-10px) scale(1.1); }
  .description-box--1 {
    border-top-color: #00843d; }
    .description-box--1:hover {
      border-color: #00843d; }
  .description-box--2 {
    border-top-color: #ffc72c; }
    .description-box--2:hover {
      border-color: #ffc72c; }
  .description-box--3 {
    border-top-color: #d22630; }
    .description-box--3:hover {
      border-color: #d22630; }
  .description-box--4 {
    border-top-color: #e25822; }
    .description-box--4:hover {
      border-color: #e25822; }
  .description-box__list {
    padding-left: 2rem;
    text-align: left;
    font-size: 1.6rem; }

.national-dish {
  max-width: 72rem;
  height: 24rem;
  border-radius: 5px;
  box-shadow: 0 3rem 3.5rem 5rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  transition: all .5s; }
  .national-dish__hero {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .national-dish__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .national-dish__content {
    background: #ffffff;
    flex: 1;
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column; }
  .national-dish__title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: center; }
  .national-dish__heading {
    font-size: 2rem;
    font-weight: 700; }
  .national-dish__description {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .national-dish__details {
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center; }
  .national-dish__detail {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center; }
    .national-dish__detail:not(:last-child) {
      margin-right: 1.5rem; }
  .national-dish__popularity {
    display: flex;
    font-size: 3rem;
    background: linear-gradient(to bottom, #9bdf46, #25a55f);
    flex: 0 0 7%;
    color: #ffffff;
    justify-content: center;
    align-items: center; }
  .national-dish__icon {
    width: 2.2rem;
    margin-right: 5px; }
  .national-dish:hover {
    transform: scale(1.1) translateY(-5px); }
  .national-dish:hover .national-dish__popularity {
    display: none; }
  .national-dish:hover .national-dish__hero {
    flex: 0 0 50%; }

.national-symbol {
  max-width: 50rem;
  height: 38rem;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .national-symbol__caption {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    position: absolute;
    transition: height .3s ease-out; }
  .national-symbol__heading {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700; }
    .national-symbol__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .national-symbol__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(155, 223, 70, 0.85), rgba(37, 165, 95, 0.85)); }
      .national-symbol__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(253, 46, 46, 0.85), rgba(144, 13, 13, 0.85)); }
      .national-symbol__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(255, 198, 11, 0.85), rgba(255, 139, 0, 0.85)); }
  .national-symbol__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .national-symbol__description {
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 1rem;
    opacity: 0;
    visibility: hidden; }
  .national-symbol:hover .national-symbol__caption {
    color: #ffffff;
    height: 100%;
    transition: height .5s ease-in; }
  .national-symbol:hover .national-symbol__caption--1 {
    background-image: linear-gradient(to right bottom, #9bdf46, #25a55f); }
  .national-symbol:hover .national-symbol__caption--2 {
    background-image: linear-gradient(to right bottom, #fd2e2e, #900d0d); }
  .national-symbol:hover .national-symbol__caption--3 {
    background-image: linear-gradient(to right bottom, #ffc60b, #ff8b00); }
  .national-symbol:hover .national-symbol__description {
    opacity: 1;
    transition: opacity .5s ease-in .5s;
    visibility: visible; }
  .national-symbol:hover .national-symbol__heading {
    color: #ffffff; }
  .national-symbol:hover .national-symbol__img {
    object-fit: scale-down;
    filter: blur(1px);
    transition: all .6s; }

.photo {
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .photo__img {
    width: 100%;
    height: 100%; }
  .photo__caption {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    color: #ffffff;
    text-align: center; }
    .photo__caption--1 {
      background-color: #00843d; }
    .photo__caption--2 {
      background-color: #ffc72c; }
    .photo__caption--3 {
      background-color: #d22630; }

.progress-bar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 1.5rem;
  line-height: 2.5rem;
  background-image: linear-gradient(to right, #e28822, #e22822);
  color: #ffffff;
  text-align: center;
  box-shadow: inset 0 -1px 1px #ffffff; }
  .progress-bar--1 {
    width: 100%; }
  .progress-bar--2 {
    width: 70.54%; }
  .progress-bar--3 {
    width: 50.35%; }
  .progress-bar--4 {
    width: 32.39%; }
  .progress-bar--5 {
    width: 19.24%; }
  .progress-bar--6 {
    width: 15.70%; }

.site {
  width: 90%;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 5rem;
  padding-left: 8rem;
  padding-right: 8rem; }
  .site__shape {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .site__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    .site__shape--1 {
      float: left;
      transform: translateX(-3rem); }
    .site__shape--2 {
      float: right;
      transform: translateX(3rem); }
  .site__img {
    height: 100%;
    transform: translateX(-5rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .site__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
    .site__caption--1 {
      font-size: 2.5rem; }
    .site__caption--2 {
      font-size: 2.5rem; }
  .site::after {
    margin-top: 10rem;
    content: "";
    display: inline-block;
    min-width: 100%;
    border-bottom: 1px solid #00843d; }
  .site:hover .site__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .site:hover .site__img {
    transform: translateX(-5rem) scale(1);
    filter: blur(3px) brightness(80%); }

.slideshow__box {
  position: relative;
  margin: auto; }

.slideshow__slide {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s; }

.slideshow__number {
  color: #ffffff;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  padding: 1rem 1.5rem; }

.slideshow__img {
  width: 100%; }

.slideshow__text {
  color: #ffffff;
  font-size: 1.6rem;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  padding: 1rem 1.5rem;
  text-align: center; }

.slideshow__button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem;
  margin-top: -2.5rem;
  transition: 0.6s ease;
  user-select: none; }
  .slideshow__button--prev {
    left: 0;
    border-radius: 0 3px 3px 0; }
  .slideshow__button--next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .slideshow__button:hover {
    background-color: rgba(0, 0, 0, 0.8); }

.slideshow__dot {
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #b5ff7d;
  transition: background-color 0.5s ease; }
  .slideshow__dot:hover, .slideshow__dot--active {
    background-color: #00ad7c; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 97vh;
  position: relative; }
  .header__bar {
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: #00843d;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 25%, 48% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 25%, 48% 100%, 0 100%); }
  .header__star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;
    background-image: linear-gradient(to right bottom, #ffc60b, #ff8b00);
    width: 61rem;
    height: 61rem;
    -webkit-clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%, 83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%, 33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%, 16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
    clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%, 83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%, 33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%, 16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
    transition: clip-path 1s ease; }
    .header__star:hover {
      top: 38%;
      -webkit-clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%, 100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%, 16.66% 100%, 0 100%, 0 83.33%, 0 50%, 0 16.66%, 0 0, 16.66% 0);
      clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%, 100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%, 16.66% 100%, 0 100%, 0 83.33%, 0 50%, 0 16.66%, 0 0, 16.66% 0);
      background: none; }
  .header__logo {
    position: absolute;
    width: 60rem;
    height: 60rem;
    top: 5px;
    left: 5px;
    -webkit-clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%, 83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%, 33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%, 16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
    clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%, 83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%, 33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%, 16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
    transition: clip-path 1s ease; }
    .header__logo:hover {
      -webkit-clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%, 100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%, 16.66% 100%, 0 100%, 0 83.33%, 0 50%, 0 16.66%, 0 0, 16.66% 0);
      clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%, 100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%, 16.66% 100%, 0 100%, 0 83.33%, 0 50%, 0 16.66%, 0 0, 16.66% 0); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 85%;
    text-align: center; }
  .header__icon {
    font-size: 5rem;
    background-image: linear-gradient(to right, #b5ff7d, #00ad7c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.section-about {
  background-color: #f5f5f5;
  padding: 15rem 0; }

.section-food {
  padding: 15rem 0;
  position: relative; }

.section-symbols {
  background-color: #f5f5f5;
  padding: 15rem 0; }

.section-tourist-attractions {
  background-color: #f5f5f5;
  padding: 20rem 0; }

.section-Darvaza {
  padding: 20rem 0; }

.section-facts {
  padding: 20rem 0; }

.section-gallery {
  padding: 20rem 0; }
