// COLORS
$color-primary: #009639;

$color-secondary: #E03C31;

$color-tertiary: #ECA154;

$color-quaternary: #28ae66;

$color-quinary: #ffff00;

$color-senary: #ca3745;

$color-septenary: #5689ca;

$color-text: #2e2f3e;
$color-blue-magenta-dark: #383739;

$color-black: #000000;
$color-white: #ffffff;


// ALTERNATIVE COLOR
$color-primary-alt: #00843d;

$color-secondary-alt: #d22630;

$color-tertiary-alt: #ffc72c;


// FONT
$default-font-size: 1.6rem;
$default-font-weight: 400;