// COLORS
$color-primary: #00843d;     
$color-primary-light: #b5ff7d;
$color-primary-dark: #00ad7c;
$color-primary-light-main: #9bdf46;
$color-primary-dark-main: #25a55f;

$color-secondary: #ffc72c;     
$color-secondary-light: #ffc60b;
$color-secondary-dark: #ff8b00;

$color-tertiary: #d22630;
$color-tertiary-light: #fd2e2e;
$color-tertiary-dark: #900d0d;

$color-septenary: #5689ca;

$color-text: #2e2f3e;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #e0e0e0;

$color-black: #000000;
$color-white: #ffffff;

$color-flame-light: #e28822;
$color-flame: #e25822;
$color-flame-dark: #e22822;


// ALTERNATIVE COLORS
$color-primary-alt: #009639;

$color-secondary-alt: #ECA154;

$color-tertiary-alt: #E03C31;


// FONT
$default-font-size: 1.6rem;
$default-font-weight: 400;
$bold-font-weight: 700;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;