.header {
    height: 97vh;
    position: relative;
    

    &__bar {
        position: relative;
        width: 100%;
        height: 5rem;
        background-color: $color-primary;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 25%, 48% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 52% 100%, 50% 25%, 48% 100%, 0 100%);
    }

    &__star {
        @include absCenter;
        top: 35%;
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        width: 61rem;
        height: 61rem;
        -webkit-clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%,
                                   83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%,
                                   33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%,
                                   16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
        clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%,
                           83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%,
                           33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%,
                           16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
        transition: clip-path 1s ease;

        &:hover {
            top: 38%;
            -webkit-clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%,
                                       100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%,
                                       16.66% 100%, 0 100%, 0 83.33%, 0 50%,
                                       0 16.66%, 0 0, 16.66% 0);
            clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%,
                               100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%,
                               16.66% 100%, 0 100%, 0 83.33%, 0 50%,
                               0 16.66%, 0 0, 16.66% 0);
            background: none;
        }
    }

    &__logo {
        position: absolute;
        width: 60rem;
        height: 60rem;

        top: 5px;
        left: 5px;
        -webkit-clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%,
                                   83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%,
                                   33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%,
                                   16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
        clip-path: polygon(50% 0, 66.66% 16.66%, 83.33% 16.66%, 83.33% 33.33%, 100% 50%,
                           83.33% 66.66%, 83.33% 83.33%, 66.66% 83.33%, 50% 100%,
                           33.33% 83.33%, 16.66% 83.33%, 16.66% 66.66%, 0 50%,
                           16.66% 33.33%, 16.66% 16.66%, 33.33% 16.66%);
        transition: clip-path 1s ease;

        &:hover {
            -webkit-clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%,
                                       100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%,
                                       16.66% 100%, 0 100%, 0 83.33%, 0 50%,
                                       0 16.66%, 0 0, 16.66% 0);
            clip-path: polygon(50% 0, 83.33% 0, 100% 0, 100% 16.66%, 100% 50%,
                               100% 83.33%, 100% 100%, 83.33% 100%, 50% 100%,
                               16.66% 100%, 0 100%, 0 83.33%, 0 50%,
                               0 16.66%, 0 0, 16.66% 0);
        }
    }

    &__text-box {
        @include absCenter;
        top: 85%;
        text-align: center;
    }

    &__icon {
        font-size: 5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}