.bg-img {
    position: relative;
    height: 97vh;
    background-image: linear-gradient(rgba($color-black, 0.5), rgba($color-black, 0.5)), url(../img/Darvaza-2.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10rem;

    @include respond(tab-port) {
        height: 100vh;
    }

    &__heading {
        font-size: 8rem;
        font-weight: $bold-font-weight;
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2rem;
        display: inline-block;
        @include absCenter;
        top: 25%;
        width: 75%;
        background-clip: text;
        -webkit-background-clip: text;

        @include respond(phone) {
            font-size: 6rem;
            letter-spacing: 1.5rem;
        }

        &:hover {             
            color: transparent;       
            // A gradient going from the bottom to top, starting white, turning flame-light at 25% of its length, flame at 50% and finishing flame-dark
            background-image: linear-gradient(0deg,                         
                $color-white,                                               
                $color-flame-light 25%,
                $color-flame 50%,                                     
                $color-flame-dark);       
            transform: translate(-50%, -50%) translateY(-3px);
            text-shadow: .5rem 1rem 2rem rgba($color-flame, .2);
            transition: all 1.5s;
        }
    }
}