.photo {
    max-width: 75%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        max-width: 50%;
    }

    @include respond(phone) {
        max-width: 90%;
    }

    &__img {
        width: 100%;
        height: auto;
    }


    &__caption {
        padding: 1rem 1.5rem;
        font-size: $default-font-size;
        font-style: italic;
        font-weight: $default-font-weight;
        color: $color-grey-light-1;
        text-align: center;

        &--1 {
            background-color: $color-primary;
        }

        &--2 {
            background-color: $color-secondary;
        }

        &--3 {
            background-color: $color-tertiary;
        }

        @include respond(tab-port) {
            padding: .5rem 1rem;
        }
    }
}