.progress-bar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    // height: 7rem;
    position: relative;
    // padding: 1rem;
    border-radius: 1.5rem;
    line-height: 2.5rem;
    background-image: linear-gradient(to right, $color-flame-light, $color-flame-dark);
    color: $color-white;
    text-align: center;
    box-shadow: inset 0 -1px 1px $color-white;

    &--1 {
        width: 100%;
    }

    &--2 {
        width: 70.54%;
    }
    
    &--3 {
        width: 50.35%;
    }

    &--4 {
        width: 32.39%;
    }

    &--5 {
        width: 19.24%;
    }

    &--6 {
        width: 15.70%;
    }
}