.site {
    width: 90%;
    margin: 0 auto;
    font-size: $default-font-size;
    padding: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;

    @include respond(phone) {
        width: 100%;
        padding: 5rem;
    }

    &__shape {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }

        &--1 {
            float: left;
            transform: translateX(-3rem);
        }

        &--2 {
            float: right;
            transform: translateX(3rem);
        }

        @include respond(phone) {
            width: 15rem;
            height: 15rem;
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-5rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;

        @include respond(phone) {
            transform: translateX(-3rem) scale(1.4);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
        font-size: 2.5rem;

        @include respond(phone) {
            font-size: $default-font-size;
        }
    }

    &::after {
        margin-top: 10rem;
        margin-left: 12.5%;
        content: "";
        display: inline-block;
        width: 75%;
        border-bottom: 1px solid $color-primary;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-5rem) scale(1);
        filter: blur(3px) brightness(80%);

        @include respond(phone) {
            transform: translateX(-3rem) scale(1);
        }
    }
}