.slideshow {
    

    &__box {
        position: relative;
        margin: 6rem;
        box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        border: 1px solid $color-black;
        outline: 1rem double $color-secondary;
        outline-offset: 5rem;

        @include respond(tab-port) {
            outline-offset: 2.5rem;
            margin: 3.5rem;
        }

        @include respond(phone) {
            outline-offset: 1rem;
            margin: 2rem
        }
    }

    &__slide {
        display: none;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    &__number {
        color: $color-grey-light-1;
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        padding: 1rem 1.5rem;

        @include respond(phone) {
            font-size: 1rem;
            padding: .5rem 1rem;
        }
    }

    &__img {
        width: 100%;
        vertical-align: middle;     // By default images are rendered like inline elements, so applied line-height adds additional white space below, vertical-align resolves this issue
    }

    &__text {
        color: $color-grey-light-1;
        font-size: $default-font-size;
        width: 100%;
        position: absolute;
        bottom: 1rem;
        padding: 1rem 1.5rem;
        text-align: center;

        @include respond(phone) {
            font-size: 1.4rem;
            padding: .5rem 1rem;
        }
    }

    &__button {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        color: $color-grey-light-1;
        font-size: 2rem;
        font-weight: $bold-font-weight;
        padding: 1.6rem;
        margin-top: -2.5rem;
        transition: 0.6s ease;
        user-select: none;

        &--prev {
            left: 0;
            border-radius: 0 3px 3px 0;
        }

        &--next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        &:hover {
            background-color: rgba($color-black ,0.8);
        }
    }

    &__dot {
        cursor: pointer;
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px;
        border-radius: 50%;
        background-color: $color-primary-light;
        transition: background-color 0.5s ease;

        &:hover,
        &--active {
            background-color: $color-primary-dark;
        }

        @include respond(tab-port) {
            &::before {                              
                font-size: $default-font-size;
                display: inline-block;
                counter-increment: section;
                content: "" counter(section) "";
                text-align: center;
                vertical-align: middle;
                color: $color-grey-light-1;
            }

            border-radius: 1px;
            width: 2.75rem;
            height: 2.75rem;
        }
    }
}