@keyframes waveY {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -2rem, 0);
  }

  75% {
    transform: translate3d(0, 2rem, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes waveX {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  25% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(-2rem, 0, 0);
  }

  75% {
    transform: translate3d(2rem, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  75% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}